POSTGRES_DB=staff_access_vpn
POSTGRES_USERNAME=app_user
POSTGRES_PASSWORD=change_me

JWT_SECRET=change_me_to_long_random_secret

TELEGRAM_BOT_TOKEN=
TELEGRAM_USERNAME=

OWNER_TG_IDs=
ADMIN_TG_IDs=

SUPPORT_URL=

VPN_ADMIN_API_BASE_URL=http://<VPN_SERVER_IP>:18080
VPN_ADMIN_API_SERVICE_KEY=

SENTRY_DSN=